.employees {
    width: $width;
    margin: 0 auto;
}
.council {
    padding: 0;
    @include clearfix;
    &-card {
        text-align: center;
        border-radius: 3px;
        background: $bgc;
        margin: 5px 0;
        padding: 20px 10px;
        box-shadow: 0 2px 3px rgba(0,0,0, .3);
        &-avatar {
            border: 2px solid $brdc;
            height: 140px;
            width: 140px;
            max-width: 80%;
            //max-height: 80%;
            border-radius: 50%;
            box-shadow: 0 2px 3px rgba(0,0,0, .3);
            transition: all .2s ease-in-out;
            margin: 0 auto 20px;
            overflow: hidden;
            >img{
                max-width: 100%;
                min-width: 100%;
                display: block;
            }
        }
        &-descr-name {
            font-weight: bold;
            color:darken($brdc, 50%);
            font-size: 0.9em;
            line-height: 10px;
            text-align: center;
        }
        &-descr-position {
            padding: 10px;
            font-size: 0.8em;
            text-align: center;
            &:before {
                display: block;
                width: 30%;
                margin: 0 auto;
                content: '';
                height: 3px;
                background: $color;
                margin-bottom: 20px;
            }
        }
    }
}
@include cicada($pclass, $chclass);
@include grid($cols);
@include mq("tablet-l", "max"){
  .council-card{
    font-size: 0.7em;
    &-avatar{
      width: 106px;
      height: 106px;
    }
  }
}
@include mq("tablet-p", "max"){
  .council-card{
    font-size: 0.7em;
    &-avatar{
      width: 80px;
      height: 80px;
    }
  }
}
@include mq("phone-l", "max"){
  .council-card{
    font-size: 0.5em;
    &-avatar{
      width: 50px;
      height: 50px;
    }
  }
}